body{
    background-image: url("Newfolder/194.jpg");
    font-size: 25px;
    display: grid;
    grid-template-rows: auto;
    color: rgb(0, 0, 0);
    gap: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img{
    display: block;
    width: 200px;
    height: auto;
border-radius: 20px;
border: 1px solid #eb9d17;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#mainImg{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}
#p1{
    background-color: #eb9d17;
    padding: 10px;
    position: absolute;
    top: 125px;
    align-self: start;
}
span{
    background-color: red;
    border: 2px solid rgb(2, 1, 1);
    color: black !important;
}
#mainImg1{
    background-color:#764463cc;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    height: 500px;
}

#header{
    display: flex;
    grid-template-columns:auto;
    justify-content: space-between;
    border-bottom: 3px solid #764463;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 15px;
}
#header{
    
    display: flex;
    grid-template-columns:auto;
    justify-content: space-between;
}
#home{
    display: flex;
    grid-template-rows:auto;
    gap: 40px;
}
#recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    place-self: center stretch;
    gap: 50px;
    margin: 0px 100px 0px 100px;
}
#main{
    display: grid;
    justify-content: center;    
width: 100%;
gap: 25px;
}
#devrecipes{
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.856);
    border: 5px solid rgba(0, 0, 0, 0.5);
background-color: #764463f1;
height: 700px;
display: grid;
justify-items: center;

}
#img2{
    /* background-color: #eb9d17; */
    object-fit: contain;
    width: 20rem;
    height: 300px;
    
}
#all{
    display: grid;
    grid-template-columns:100px 1fr 1fr ;
    align-content: center;
    align-items: center;
    justify-items: center stretch;
    justify-content: center;
gap: 20px;
}
#title{
    text-align: center;
}
#mid{
    background-color: #eb9d17c5;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    gap:0px 0px 0px 10px ;:
}
#img3{
    background-color: #eb9d17c5;
    height: 60px;
    width: 60px;
position: relative;
bottom: 10px;
border-radius: 20px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 2px solid rgba(0, 0, 0, 0.5);
}
#img4{
    width: auto;
    height: 60px;
}
#title{
    font-size: larger;
}
.header{
    background-color: #764463;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 1px solid rgba(255, 255, 255, 0.178);
    color: rgb(255, 250, 250);
}
.header:hover{
    background-color:#eb9d17;
    cursor: pointer;
    color: rgba(0, 0, 0);
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .searchTerm {
    border: 3px solid #eb9d17;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #764463;
  }
  .searchTerm:focus{
    color:#764463;
  }
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #eb9d17;
    background: #764463 url("Newfolder/pngegg.png") 10px 10px no-repeat;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    background-image: url("Newfolder/pngegg.png");
  }
  #img5{
    border: none;
    display: inline;
    height: 30px;
    width:auto;
    position: relative;
    bottom: 19px;
    right: 2px;
  }
  .wrap{
    width: 30%;
    position: relative;
    top: 30px;
    /* transform: translate(-50%, -50%); */
  }
  #recipePage{
    background-color: #764463ea;
    border-radius: 20px;
    color: aliceblue;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 3px solid rgba(255, 255, 255, 0.178);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.678);
margin: 0px 250px ;
font-weight: 700;
  }
  h1{
    color: black;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.678)
  }
  h2{
    color: black;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.678)
  }
  .f{background-color: #eb9d17;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 1px solid rgba(255, 255, 255, 0.178);
    color: rgb(255, 250, 250);
    font-size: 20px;
}
.f:hover{
    background-color:#eb9d17;
    cursor: pointer;
    color: rgba(0, 0, 0);
}
.r{background-color: #eb9d17;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 1px solid rgba(255, 255, 255, 0.178);
    color: rgb(255, 250, 250);
    font-size: 20px;
}
.r:hover{
    background-color:#eb9d17;
    cursor: pointer;
    color: rgba(0, 0, 0);
}
.t{
    background-color: #eb9d17;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 1px solid rgba(255, 255, 255, 0.178);
    color: rgb(255, 250, 250);
    font-size: 20px;
    align-items: center
}
.t:hover{
    background-color:#eb9d17;
    cursor: pointer;
    color: rgba(0, 0, 0);
}
#show{
    display: none;
    background-color: #764463ce;
    border-radius: 20px;
    color: aliceblue;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 3px solid rgba(255, 255, 255, 0.178);
margin: 0px 160px ;
font-weight: 700;
}
#filterC{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
justify-content: center;
align-items: center;
}
#T{
    display: grid;
    justify-items: center;
    border-radius: 20px;
    border: 1px solid #eb9d17;
}
#t1{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    position: relative;
    bottom:10px;
    align-items: center;
}
#vol {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #eb9d17;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #vol:hover {
    opacity: 1;
  }
  
  #vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #764463;
    cursor: pointer;
  }
  
  #vol::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
#Rate{
display: grid;
justify-items: center;
border-radius: 20px;
border: 1px solid #eb9d17;
}
#rate1{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
position: relative;
bottom:10px
}
#Diff{
    display: grid;
    justify-items: center;
    border-radius: 20px;
    border: 1px solid #eb9d17;
    }
    #diff1{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
        position: relative;
        bottom:10px
    }

#filterB{
    background-color: #764463;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 1px solid rgba(255, 255, 255, 0.178);
    color: rgb(255, 250, 250);
    width: 200px;
    position: relative;
    left: 170px;
}
#filterB:hover{
    background-color:#eb9d17;
    cursor: pointer;
    color: rgba(0, 0, 0);
}
#recipesIMG{
    width: 400px;
}
#modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
   
}
#up{
    background-color: #bb83a6f6;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 3px solid rgba(255, 255, 255, 0.178);
    margin: 0px auto 0px auto;
    border: 1px solid #888;
    width: 80%;
    display: grid;
}
#hl
{
    background-color: #eb9d17;
    border-radius: 20px 20px 0px 0px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
height: 70%;
}
#t{
    grid-column-start: 2;
    
}
#x{
margin-right: 20px;
color: #000;
  font-size: 35px;
  font-weight: bold;
}
  #x:hover,
  #x:focus {
  color: red;
  cursor: pointer;
}
#lo{
    margin-left: 20px;
    margin-top: 50px;
}
#sub{
    background-color: #eb9d17da;
     padding: 14px 20px;
  margin-bottom: 1%;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 3px solid rgba(255, 255, 255, 0.178);
    border: 1px solid #888;
    /* width: 80%; */
  border: none;
  cursor: pointer;
  width: 100%;
}
#sub:hover{
    opacity: 0.7;
    color: rgb(255, 255, 255)
}
.in{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#reg{
    display: flex;
    gap: 5px;
}

#regp:hover,
#regp:focus {
color: #eb9501;
cursor: pointer; 
}
#regP{
    display: none;
    background-color: #bb83a6f6;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
    border: 3px solid rgba(255, 255, 255, 0.178);
    margin: 0px auto 0px auto;
    border: 1px solid #888;
    width: 80%;
    display: grid;
}
#modal2{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

#regp2:hover,
#regp2:focus {
color: #eb9501;
cursor: pointer; 
}
#out{
    display: none;
}
@media only screen and (max-width: 600px){
    body{
        background-image: url("Newfolder/194.jpg");
        font-size: 5px;
        display: grid;
        grid-template-rows: auto;
        color: rgb(0, 0, 0);
        gap: 30px;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    img{
        display: block;
        width: 10px;
        height: auto;
    border-radius: 20px;
    border: 1px solid #eb9d17;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #mainImg{
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
    }
    #p1{
        background-color: #eb9d17;
        padding: 10px;
        position: absolute;
        top: 125px;
        align-self: start;
    }
    span{
        background-color: red;
        border: 2px solid rgb(2, 1, 1);
        color: black !important;
    }
    #mainImg1{
        background-color:#764463cc;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
        width: 50rem;
        height: 500px;
    }
    
    #header{
        display: flex;
        grid-template-columns:auto;
        justify-content: space-between;
        border-bottom: 3px solid #764463;
        margin-left: 250px;
        margin-right: 250px;
        padding-bottom: 15px;
    }
    #header{
        
        display: flex;
        grid-template-columns:auto;
        justify-content: space-between;
    }
    #home{
        display: flex;
        grid-template-rows:auto;
        gap: 40px;
    }
    #recipes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
        place-self: center stretch;
        gap: 50px;
        margin: 0px 100px 0px 100px;
    }
    #main{
        display: grid;
        justify-content: center;    
    width: 100%;
    gap: 25px;
    }
    #devrecipes{
        border-radius: 20px;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.856);
        border: 5px solid rgba(0, 0, 0, 0.5);
    background-color: #764463f1;
    height: 700px;
    display: grid;
    justify-items: center;
    
    }
    #img2{
        /* background-color: #eb9d17; */
        object-fit: contain;
        width: 20rem;
        height: 300px;
        
    }
    #all{
        display: grid;
        grid-template-columns:100px 1fr 1fr ;
        align-content: center;
        align-items: center;
        justify-items: center stretch;
        justify-content: center;
    gap: 20px;
    }
    #title{
        text-align: center;
    }
    #mid{
        background-color: #eb9d17c5;
        padding: 5px 5px 5px 5px;
        border-radius: 20px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 2px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        gap:0px 0px 0px 10px ;:
    }
    #img3{
        background-color: #eb9d17c5;
        height: 60px;
        width: 60px;
    position: relative;
    bottom: 10px;
    border-radius: 20px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
    #img4{
        width: auto;
        height: 60px;
    }
    #title{
        font-size: larger;
    }
    .header{
        background-color: #764463;
        padding: 3px 10px;
        border-radius: 5px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 1px solid rgba(255, 255, 255, 0.178);
        color: rgb(255, 250, 250);
    }
    .header:hover{
        background-color:#eb9d17;
        cursor: pointer;
        color: rgba(0, 0, 0);
    }
    .search {
        width: 100%;
        position: relative;
        display: flex;
      }
      .searchTerm {
        border: 3px solid #eb9d17;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #764463;
      }
      .searchTerm:focus{
        color:#764463;
      }
      .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #eb9d17;
        background: #764463 url("Newfolder/pngegg.png") 10px 10px no-repeat;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        background-image: url("Newfolder/pngegg.png");
      }
      #img5{
        border: none;
        display: inline;
        height: 30px;
        width:auto;
        position: relative;
        bottom: 19px;
        right: 2px;
      }
      .wrap{
        width: 30%;
        position: relative;
        top: 30px;
        /* transform: translate(-50%, -50%); */
      }
      #recipePage{
        background-color: #764463ea;
        border-radius: 20px;
        color: aliceblue;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 3px solid rgba(255, 255, 255, 0.178);
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.678);
    margin: 0px 250px ;
    font-weight: 700;
      }
      h1{
        color: black;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.678)
      }
      h2{
        color: black;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.678)
      }
      .f{background-color: #eb9d17;
        padding: 3px 10px;
        border-radius: 5px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 1px solid rgba(255, 255, 255, 0.178);
        color: rgb(255, 250, 250);
        font-size: 20px;
    }
    .f:hover{
        background-color:#eb9d17;
        cursor: pointer;
        color: rgba(0, 0, 0);
    }
    .r{background-color: #eb9d17;
        padding: 3px 10px;
        border-radius: 5px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 1px solid rgba(255, 255, 255, 0.178);
        color: rgb(255, 250, 250);
        font-size: 20px;
    }
    .r:hover{
        background-color:#eb9d17;
        cursor: pointer;
        color: rgba(0, 0, 0);
    }
    .t{
        background-color: #eb9d17;
        padding: 3px 10px;
        border-radius: 5px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 1px solid rgba(255, 255, 255, 0.178);
        color: rgb(255, 250, 250);
        font-size: 20px;
        align-items: center
    }
    .t:hover{
        background-color:#eb9d17;
        cursor: pointer;
        color: rgba(0, 0, 0);
    }
    #show{
        display: none;
        background-color: #764463ce;
        border-radius: 20px;
        color: aliceblue;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 3px solid rgba(255, 255, 255, 0.178);
    margin: 0px 160px ;
    font-weight: 700;
    }
    #filterC{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    }
    #T{
        display: grid;
        justify-items: center;
        border-radius: 20px;
        border: 1px solid #eb9d17;
    }
    #t1{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
        position: relative;
        bottom:10px;
        align-items: center;
    }
    #vol {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #eb9d17;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      #vol:hover {
        opacity: 1;
      }
      
      #vol::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #764463;
        cursor: pointer;
      }
      
      #vol::-moz-range-thumb {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    #Rate{
    display: grid;
    justify-items: center;
    border-radius: 20px;
    border: 1px solid #eb9d17;
    }
    #rate1{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
    position: relative;
    bottom:10px
    }
    #Diff{
        display: grid;
        justify-items: center;
        border-radius: 20px;
        border: 1px solid #eb9d17;
        }
        #diff1{
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            gap: 20px;
            justify-items: center;
            position: relative;
            bottom:10px
        }
    
    #filterB{
        background-color: #764463;
        padding: 3px 10px;
        border-radius: 5px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 1px solid rgba(255, 255, 255, 0.178);
        color: rgb(255, 250, 250);
        width: 200px;
        position: relative;
        left: 170px;
    }
    #filterB:hover{
        background-color:#eb9d17;
        cursor: pointer;
        color: rgba(0, 0, 0);
    }
    #recipesIMG{
        width: 400px;
    }
    #modal{
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
        padding-top: 60px;
       
    }
    #up{
        background-color: #bb83a6f6;
        border-radius: 20px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 3px solid rgba(255, 255, 255, 0.178);
        margin: 0px auto 0px auto;
        border: 1px solid #888;
        width: 80%;
        display: grid;
    }
    #hl
    {
        background-color: #eb9d17;
        border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 70%;
    }
    #t{
        grid-column-start: 2;
        
    }
    #x{
    margin-right: 20px;
    color: #000;
      font-size: 35px;
      font-weight: bold;
    }
      #x:hover,
      #x:focus {
      color: red;
      cursor: pointer;
    }
    #lo{
        margin-left: 20px;
        margin-top: 50px;
    }
    #sub{
        background-color: #eb9d17da;
         padding: 14px 20px;
      margin-bottom: 1%;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 3px solid rgba(255, 255, 255, 0.178);
        border: 1px solid #888;
        /* width: 80%; */
      border: none;
      cursor: pointer;
      width: 100%;
    }
    #sub:hover{
        opacity: 0.7;
        color: rgb(255, 255, 255)
    }
    .in{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    #reg{
        display: flex;
        gap: 5px;
    }
    
    #regp:hover,
    #regp:focus {
    color: #eb9501;
    cursor: pointer; 
    }
    #regP{
        display: none;
        background-color: #bb83a6f6;
        border-radius: 20px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.856);
        border: 3px solid rgba(255, 255, 255, 0.178);
        margin: 0px auto 0px auto;
        border: 1px solid #888;
        width: 80%;
        display: grid;
    }
    #modal2{
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
        padding-top: 60px; 
    }
    
    #regp2:hover,
    #regp2:focus {
    color: #eb9501;
    cursor: pointer; 
    }
    #out{
        display: none;
    }
}